#population_map {
	top:0px;
	bottom: 100px; 
	
}

#country_population {
	top:0px;
	bottom: 100px; 
	left: 0;
}

#population_continents_year {
	top:0px;
	bottom: 100px; 
	left: 0;
}

#top8_population_comparison {
	top:0px;
	bottom: 100px; 
	left: 0;
}

/* Selectors in HTML */
body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    text-align: center;
    color: #4A5D6B;
}

h2 {
    font-weight: 600;
    color: #4A5D6B;
}

h3 {
    font-weight: 300;
    color: #4A5D6B;
}

body {
    background-color: lightgray;
}

p{
    text-align: left;
}

p strong{
    font-weight: bold;
}

.page {
    width: 850px;
    background-color: #95e9d1;
    
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.small-font {
    font-size: 14px;
    color: grey;
}

.center{
    text-align: center;
}

.s1_hightlight{
    color: #5A547C;
    font-weight: bold;
}

.Asia{
    color: #fb9a99;
    font-weight: bold;
}

.NorthAmerica{
    color: #a6cee3;
    font-weight: bold;
}

.SouthAmerica{
    color: #1f78b4;
    font-weight: bold;
}

.Europe{
    color: #b2df8a;
    font-weight: bold;
}

.Africa{
    color: #33a02c;
    font-weight: bold;
}

.Oceania{
    color: #e31a1c;
    font-weight: bold;
}

.Bangladesh{
    color: #e41a1c;
    font-weight: bold;
}

.Brazil{
    color: #377eb8;
    font-weight: bold;
}

.China{
    color: #4daf4a;
    font-weight: bold;
}

.India{
    color: #984ea3;
    font-weight: bold;
}


.Indonesia{
    color: #ffff33;
    font-weight: bold;
}

.Nigeria{
    color: #ff7f00;
    font-weight: bold;
}

.Pakistan{
    color: #a65628;
    font-weight: bold;
}

.USA{
    color: #f781bf;
    font-weight: bold;
}