#population_map {
	top:0px;
	bottom: 100px; 
	
}

#country_population {
	top:0px;
	bottom: 100px; 
	left: 0;
}

#population_continents_year {
	top:0px;
	bottom: 100px; 
	left: 0;
}

#top8_population_comparison {
	top:0px;
	bottom: 100px; 
	left: 0;
}

/* Selectors in HTML */
body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    text-align: center;
    color: #4A5D6B;
}

h2 {
    font-weight: 600;
    color: #4A5D6B;
}

h3 {
    font-weight: 300;
    color: #4A5D6B;
}

body {
    background-color: lightgray;
}

p{
    text-align:left;
}

.page {
    width: 850px;
    background-color: lightslategray;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.small-font {
    font-size: 14px;
}